@import 'variables';
@import 'utilities';
@import 'item_grid';

// presets / general
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  // color: white;
}

a{
  text-decoration: none;
  color: $dark-color;
}

ul{
  list-style: none;
}

h2,h3,h4{
  text-transform: uppercase;
}

// keeps imgs in containers
img{
  width: 100%;
}

// *********  LOGO  ***********

#logo{
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}

// *********  MAIN NAV  ***********
#main-nav{
  display: flex;
  justify-content: space-between;
  padding-top: 1 rem;

  ul{
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;
    // base for hover effect
    border-bottom: 3px transparent solid;
    &:hover{
      border-color: $medium-color;
    }
    &.current{
      border-color: $main-color;
    }
  }
}

// *********  HEADERS  ***********

#header{

  &-home{
    background: $bg-image no-repeat center right/cover;
    height: 100vh;
    color:white;

    .header-content {
      text-align: center;
      padding-top: 20%;
      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }

  &-inner{
    //20% x-axis, 30% y-axis positioning on background
    background: $bg-image no-repeat 20% 30%/cover;
    height: 5.5rem;
    border: 3px solid $main-color;
  }
}


// *********  HOME: SECTION  ***********

#home{
  // HOME SECTION A
  &-a{
    .specials{
      margin-top: 3rem;
      display: grid;
      grid-gap: 1.5rem;
      grid-template-columns: repeat(4, 1fr);
    }

    .fas{
      color: $main-color;
      padding-bottom: 0.4rem;
    }
  }

  // HOME SECTION B
  &-b{
    .stats{
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      li{
        line-height: 2;

        &.stats-title{
          font-size: 1.5rem;
        }

        &.stats-number{
          font-size: 2rem;
          font-weight: bold;
        }
      }

      div {
        padding: 3rem 0;

        &:nth-child(odd){
          background: $light-color;
        }

        &:nth-child(even){
          background: $medium-color;
        }
      }
    }
  }
  // HOME SECTION C
  &-c{
    .process{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      text-align: center;

      &-icon{
        position: relative;
        border-radius: 50%;
        background: $dark-color;
        color: set-text-color($dark-color);
        width: 85px;
        height: 85px;
        line-height: 85px;
        text-align: center;
        transition: all 1s;

        &:hover{
          background: $main-color;
          height: 100px;
          width:100px;
          line-height: 100px;

          .process-step{
            background: $dark-color;
            color: set-text-color($dark-color);
          }
        }
      }

      &-step{
        position: absolute;
        top: 0;
        right: 0;
        font-size: 20px;
        background: $main-color;
        color: set-text-color($main-color);
        border-radius: 50%;
        height: 28px;
        width: 28px;
        line-height: 28px;
        transition: all 1s;
      }
    }
  }
}

// ABOUT PAGE
#about{
  &-a{
    .about-info{
      display:grid;
      grid-template-areas:
        'bio-image bio bio'
        'aw1 aw2 aw3';
      grid-gap: 1.2rem;
    }

    //Grid Area
    .bio-image{
      grid-area: 'bio-image'
    }

    .bio{
      grid-area: bio;
      border-left: 3px solid $main-color;
      padding: 0.8rem;
    }

    .award-1{
      grid-area: aw1;
    }

    .award-2{
      grid-area: aw2;
    }

    .award-3{
      grid-area: aw3;
    }

    .award-1 .fas,
    .award-2 .fas,
    .award-3 .fas{
      color: $main-color;
      margin: 1rem;
    }
  }
  //Section B
  &-b{
    .progress{
      overflow: hidden;
      height: 20px;
      background: $medium-color;
      border-radius: 5px;
      margin-bottom: 0.6rem;

      div{
        height: 100%;
        color: white;
        text-align: center;
        background-color: $main-color;
      }
    }
  }

  //Section C
  &-c {
    .about-logos{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;

      .img{
        width: 70%;
      }
    }
  }

  // Section D
  &-d {
    .testimonial{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-gap: 0.5rem;
      ul{
        display: flex;
        align-items: center;
        list-style: none;
        margin-top: 1rem;
      }
      p{
        border: 1px solid $medium-color;
        border-radius: 5px;
        padding: 0.5rem;
      }
      img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
    }
  }
}

// FOOTER

#main-footer{
  background:$dark-color;
  color: #fff;
  height: 5rem;

  .footer-content{
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .social .fab{
      margin-right: 1rem;
      border: 2px #ffff solid;
      border-radius:50%;
      height: 30px;
      width: 30px;
      line-height: 26px;
      text-align: center;

      &:hover{
        background: $main-color;
      }
    }

  }
}