@import 'variables';
@import 'utilities';

// presets / general
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  // color: white;
}

a{
  text-decoration: none;
  color: $dark-color;
}

ul{
  list-style: none;
}

h2,h3,h4{
  text-transform: uppercase;
}

// keeps imgs in containers
img{
  width: 100%;
}

// *********  LOGO  ***********

#logo{
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}

// *********  MAIN NAV  ***********
#main-nav{
  display: flex;
  justify-content: space-between;
  padding-top: 1 rem;

  ul{
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;
    // base for hover effect
    border-bottom: 3px transparent solid;
    &:hover{
      border-color: $medium-color;
    }
    &.current{
      border-color: $main-color;
    }
  }
}

// *********  HEADERS  ***********

#header{

  &-home{
    background: $bg-image no-repeat center right/cover;
    height: 100vh;
    color:white;

    .header-content {
      text-align: center;
      padding-top: 20%;
      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }

  &-inner{

  }
}


// *********  HOME: SECTION  ***********

#home{
  &-a{
    .specials{
      margin-top: 3rem;
      display: grid;
      grid-gap: 1.5rem;
      grid-template-columns: repeat(4, 1fr);
    }

    .fas{
      color: $main-color;
      padding-bottom: 0.4rem;
    }
  }
}